/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.job-period-desktop {
    display: none;
}

.job-period-phone-tablet {
    display: inline-block;
}

.profile-image {
    height: 160px;
    width: 160px;
    /* display: block;
    margin: auto; */

}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .job-period-desktop {display: block;}
    .job-period-phone-tablet {display: none;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .job-period-desktop {display: block;}
    .job-period-phone-tablet {display: none;}
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Arial";
}

.name {
    font-size: 40px;
    font-weight:bolder;
}

 .wrapper{
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.content-left {
    padding-right: 50px
}

.ico {
    font-size: 28px;
}

h3.title span.txt {
    display: inline-block;
    /* vertical-align: middle; */
}

.title {
    font-size: 18px;
    font-weight:bolder;
}

.subtitle {
    font-style: italic;
}

.section-footer {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: grey;
}

.pagebreak { page-break-before: always; } /* page-break-after works, as well */